.contact-card {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid dimgrey;
}

.contact-card:hover {
    background: #777777;
}

.contact-name {
    color: white;
    font-weight: 700;
    font-size: 26px;
    margin-left: 20px;
    flex-grow: 1;
}

.contact-details {
    color: white;
    justify-content: space-between;
    text-align: right;
}

.card-options {
    position: absolute;
    background-color: #ffffff;
    padding: 10px 3px;
    border-radius: 5px;
    left: 150px;
}

.card-options button {
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 4px;
    color: gray;
    width: 100px;
    font-size: 14px;
    margin: 0 1px;
    cursor: pointer;
}

.card-options button.close {
    width: 50px;
    margin-left: 10px;
    color: #5a5a5a;
}